/* line 1, _basic.less */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* line 5, _basic.less */
*:focus {
  outline: none;
}
/* line 10, _basic.less */
html,
body {
  background-color: #ebebeb;
  color: #555555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
/* line 21, _basic.less */
.row {
  max-width: 1140px;
  margin: 0 auto;
}
/* line 26, _basic.less */
section {
  padding: 4rem 0;
}
/* line 30, _basic.less */
h1,
h2,
h3 {
  font-weight: 100;
  letter-spacing: .15rem;
}
/* line 37, _basic.less */
a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  -webkit-transition: border-bottom 0.35s ease-in, color 0.35s ease-in;
          transition: border-bottom 0.35s ease-in, color 0.35s ease-in;
}
/* line 46, _basic.less */
a:hover,
a:active {
  color: #555555;
  border-bottom: 1px solid transparent;
}
/* line 1, _header.less */
header {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../img/hero.jpg) center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../img/hero.jpg) center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
/* line 8, _header.less */
h1 {
  margin: 0;
  color: #ebebeb;
  font-size: 230%;
  font-weight: 200;
}
/* line 15, _header.less */
.hero-text-box {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 24, _header.less */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: .5rem 1.5rem;
  font-weight: 300;
  text-decoration: none;
  border-radius: 10rem;
  color: #ebebeb;
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
          transition: background-color 0.2s, color 0.2s, border 0.2s;
}
/* line 36, _header.less */
.btn:hover,
.btn:active {
  background-color: #cf6d17;
}
/* line 43, _header.less */
.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
}
/* line 48, _header.less */
.btn-full:hover,
.btn-full:active {
  background-color: #cf6d17;
}
/* line 55, _header.less */
.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}
/* line 60, _header.less */
.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #ebebeb;
}
/* line 67, _header.less */
.logo {
  height: 4rem;
  width: auto;
  float: left;
  margin-top: 1rem;
}
/* line 74, _header.less */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 2rem;
}
/* line 78, _header.less */
.main-nav li {
  display: inline-block;
  margin-left: 3rem;
}
/* line 81, _header.less */
.main-nav li a:link,
.main-nav li a:visited {
  color: #ebebeb;
  padding: 8px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.35s;
          transition: border-bottom 0.35s;
}
/* line 92, _header.less */
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}
/* line 1, _feature.less */
h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
/* line 5, _feature.less */
h2::after {
  content: '';
  width: 3rem;
  display: block;
  height: 2px;
  background-color: #e67e22;
  margin: 0 auto;
  margin-top: .5rem;
}
/* line 16, _feature.less */
h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
/* line 21, _feature.less */
.long-copy {
  font-size: 1.1rem;
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 1rem;
}
/* line 29, _feature.less */
.box {
  padding: 1px;
}
/* line 31, _feature.less */
.box p {
  font-size: 1rem;
  line-height: 145%;
}
/* line 37, _feature.less */
.icon-big {
  font-size: 250%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}
/* line 1, _meals.less */
.section-meals {
  padding: 0;
}
/* line 5, _meals.less */
.meals-showcase {
  list-style: none;
  width: 100%;
}
/* line 8, _meals.less */
.meals-showcase li {
  float: left;
  width: 25%;
}
/* line 14, _meals.less */
.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}
/* line 19, _meals.less */
.meal-photo img {
  opacity: .7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.35s ease-in, opacity 0.35s ease-in;
          transition: transform 0.35s ease-in, opacity 0.35s ease-in;
}
/* line 25, _meals.less */
.meal-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
/* line 32, _meals.less */
.clearfix {
  zoom: 1;
}
/* line 34, _meals.less */
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 1, _steps.less */
.section-steps {
  background-color: #f4f4f4;
}
/* line 6, _steps.less */
.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 2rem;
}
/* line 11, _steps.less */
.steps-box:last-child {
  padding-left: 3%;
  margin-top: 4.5rem;
}
/* line 17, _steps.less */
.app-screen {
  width: 40%;
}
/* line 21, _steps.less */
.works-step {
  margin-bottom: 3rem;
}
/* line 23, _steps.less */
.works-step div {
  position: relative;
  top: -0.5rem;
  color: #e67e22;
  border: 2px solid #e67e22;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  text-align: center;
  line-height: 3rem;
  font-size: 1.5rem;
  float: left;
  margin-right: 1.5rem;
}
/* line 37, _steps.less */
.works-step:last-of-type {
  margin-bottom: 50px;
}
/* line 42, _steps.less */
.btn-app {
  margin-right: 2rem;
}
/* line 43, _steps.less */
.btn-app:link,
.btn-app:visited {
  border: 0;
}
/* line 47, _steps.less */
.btn-app img {
  height: 3rem;
  width: auto;
}
/* line 1, _city.less */
.box img {
  width: 100%;
  margin-bottom: 1rem;
  height: auto;
}
/* line 7, _city.less */
.city-feature {
  margin-bottom: .3rem;
}
/* line 11, _city.less */
.icon-small {
  display: inline-block;
  width: 2rem;
  text-align: center;
  color: #e67e22;
  font-size: 1.5rem;
  line-height: 1.5rem;
  vertical-align: middle;
  margin-top: -2px;
}
/* line 1, _testimonials.less */
.section-testimonials {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('../img/back-customers.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('../img/back-customers.jpg');
  background-size: cover;
  color: #ebebeb;
  background-attachment: fixed;
}
/* line 8, _testimonials.less */
blockquote {
  padding: 2px;
  font-style: italic;
  line-height: 145%;
}
/* line 12, _testimonials.less */
blockquote::before {
  content: '\201c';
  display: block;
  font-size: 300%;
  position: relative;
  left: -2rem;
}
/* line 21, _testimonials.less */
cite {
  margin-top: 1.5rem;
  display: block;
}
/* line 24, _testimonials.less */
cite img {
  height: 4rem;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
/* line 1, _plans.less */
.section-plans {
  background-color: #ebebeb;
}
/* line 5, _plans.less */
.plan-box {
  background-color: white;
  border: 1px solid #e67e22;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 4px 4px #a7a7a7;
}
/* line 12, _plans.less */
.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #ebebeb;
}
/* line 16, _plans.less */
.plan-box div:first-child {
  background-color: #fcfcfc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 21, _plans.less */
.plan-box div:last-child {
  text-align: center;
}
/* line 24, _plans.less */
.plan-box ul {
  list-style: none;
}
/* line 26, _plans.less */
.plan-box ul li {
  padding: 5px 0;
}
/* line 32, _plans.less */
.plan-price {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 100;
  color: #e67e22;
}
/* line 37, _plans.less */
.plan-price span {
  font-size: 1rem;
}
/* line 1, _contact.less */
.section-form {
  background-color: white;
}
/* line 5, _contact.less */
.contact-form {
  padding: 30px 40px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #e67e22;
  border-radius: 5px;
  background-color: #ebebeb;
}
/* line 14, _contact.less */
input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: .5rem;
  border-radius: 3px;
  border: 1px solid #ccc;
}
/* line 24, _contact.less */
input[type=submit] {
  display: inline-block;
  padding: .5rem 1.5rem;
  font-weight: 300;
  text-decoration: none;
  border-radius: 10rem;
  color: #ebebeb;
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
          transition: background-color 0.2s, color 0.2s, border 0.2s;
  background-color: #e67e22;
  border: 1px solid #e67e22;
}
/* line 36, _contact.less */
input[type=submit]:hover {
  background-color: #cf6d17;
}
/* line 41, _contact.less */
input[type=checkbox] {
  margin: 10px 5px 10px 0;
}
/* line 1, _footer.less */
footer {
  background-color: #333333;
  padding: 2rem;
}
/* line 4, _footer.less */
footer p {
  color: #888888;
  text-align: center;
  font-size: .9rem;
  margin-top: 2rem;
}
/* line 12, _footer.less */
.footer-nav {
  list-style: none;
  float: left;
}
/* line 15, _footer.less */
.footer-nav li {
  display: inline-block;
  margin-right: 1rem;
}
/* line 18, _footer.less */
.footer-nav li:last-child {
  margin-right: 0;
}
/* line 21, _footer.less */
.footer-nav li a:link,
.footer-nav li a:visited {
  text-decoration: none;
  border: 0;
  color: #888888;
  -webkit-transition: color 0.35s ease-in;
          transition: color 0.35s ease-in;
}
/* line 28, _footer.less */
.footer-nav li a:hover,
.footer-nav li a:active {
  color: #dddddd;
}
/* line 35, _footer.less */
.social-links {
  list-style: none;
  float: right;
}
/* line 38, _footer.less */
.social-links li {
  display: inline-block;
  margin-right: 1rem;
}
/* line 41, _footer.less */
.social-links li:last-child {
  margin-right: 0;
}
/* line 44, _footer.less */
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888888;
  -webkit-transition: color 0.35s ease-in;
          transition: color 0.35s ease-in;
  font-size: 1.5rem;
}
/* line 55, _footer.less */
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: color 0.35s ease-in;
          transition: color 0.35s ease-in;
}
/* line 62, _footer.less */
.ion-social-facebook:hover {
  color: #3b5998;
}
/* line 66, _footer.less */
.ion-social-twitter:hover {
  color: #00aced;
}
/* line 70, _footer.less */
.ion-social-googleplus:hover {
  color: #dd4b39;
}
/* line 74, _footer.less */
.ion-social-instagram:hover {
  color: #517fa4;
}
@media only screen and (max-width: 1200px) {
  /* line 2, media/_extream.less */
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  /* line 6, media/_extream.less */
  .row {
    padding: 0 2%;
  }
}
@media only screen and (max-width: 1023px) {
  /* line 2, media/_large.less */
  body {
    font-size: 16px;
  }
  /* line 5, media/_large.less */
  section {
    padding: 60px 0;
  }
  /* line 8, media/_large.less */
  .long-copy {
    width: 80%;
    margin-left: 15%;
  }
  /* line 12, media/_large.less */
  .steps-box {
    margin-top: 10px;
  }
  /* line 14, media/_large.less */
  .steps-box:last-child {
    margin-top: 10px;
  }
  /* line 18, media/_large.less */
  .works-step {
    margin-bottom: 40px;
  }
  /* line 20, media/_large.less */
  .works-step:last-of-type {
    margin-bottom: 60px;
  }
  /* line 24, media/_large.less */
  .app-screen {
    width: 50%;
    position: relative;
    top: -32px;
  }
  /* line 29, media/_large.less */
  .icon-small {
    width: 18px;
    margin-right: 5px;
  }
  /* line 33, media/_large.less */
  .city-feature {
    font-size: 90%;
  }
  /* line 36, media/_large.less */
  .plan-box {
    width: 100%;
    margin-left: 0;
  }
  /* line 40, media/_large.less */
  .plan-price {
    font-size: 250%;
  }
  /* line 43, media/_large.less */
  .contact-form {
    width: 80%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 2, media/_middle.less */
  body {
    font-size: 14px;
  }
  /* line 5, media/_middle.less */
  section {
    padding: 30px 0;
  }
  /* line 8, media/_middle.less */
  .row,
  .hero-text-box {
    padding: 0 4%;
  }
  /* line 12, media/_middle.less */
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  /* line 16, media/_middle.less */
  .main-nav {
    display: none;
  }
  /* line 19, media/_middle.less */
  h1 {
    font-size: 180%;
  }
  /* line 22, media/_middle.less */
  h2 {
    font-size: 150%;
  }
  /* line 25, media/_middle.less */
  .long-copy {
    width: 100%;
    margin-left: 0;
  }
  /* line 29, media/_middle.less */
  .works-step {
    margin-bottom: 20px;
  }
  /* line 31, media/_middle.less */
  .works-step:last-of-type {
    margin-bottom: 20px;
  }
  /* line 34, media/_middle.less */
  .works-step div {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 120%;
  }
  /* line 41, media/_middle.less */
  .steps-box:first-child {
    text-align: center;
  }
  /* line 44, media/_middle.less */
  .app-screen {
    width: 40%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 2, media/_small.less */
  section {
    padding: 25px 0;
  }
  /* line 5, media/_small.less */
  .contact-form {
    width: 100%;
  }
}
