* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   background-color: @white ;
   color: @gray;
   font-family: 'webfont' !important;
   font-size: 16px;
   font-weight: 300;
   text-rendering: optimizeLegibility;
}

.row {
   max-width: 1140px;
   margin: 0 auto;
}

section {
   padding: 4rem 0;
}

h1,
h2,
h3 {
   font-weight: 100;
   letter-spacing: .15rem;
}

a:link,
a:visited {
   color: @orange;
   text-decoration: none;
   padding-bottom: 1px;
   border-bottom: 1px solid @orange;
   transition: border-bottom .35s ease-in, color .35s ease-in
}

a:hover,
a:active {
   color: @gray;
   border-bottom: 1px solid transparent;
}
