header {
   background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .6)), url(../img/hero.jpg) center;
   background-size: cover;
   height: 100vh;
   background-attachment: fixed;
}

h1 {
   margin: 0;
   color: @white;
   font-size: 230%;
   font-weight: 200;
}

.hero-text-box {
   width: 1140px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.btn {
   &:link,
   &:visited {
      display: inline-block;
      //      margin-top: 1rem;
      //      margin-right: .5rem;
      padding: .5rem 1.5rem;
      font-weight: 300;
      text-decoration: none;
      border-radius: 10rem;
      color: @white;
      transition: background-color .2s, color .2s, border .2s;
   }
   &:hover,
   &:active {
      background-color: @dark-orange;
   }
}

.btn-full {
   &:link,
   &:visited {
      background-color: @orange;
      border: 1px solid @orange;
   }
   &:hover,
   &:active {
      background-color: @dark-orange;
   }
}

.btn-ghost {
   &:link,
   &:visited {
      border: 1px solid @orange;
      color: @orange;
   }
   &:hover,
   &:active {
      border: 1px solid @dark-orange;
      color: @white;
   }
}

.logo {
   height: 5rem;
   width: auto;
   float: left;
   margin-top: 1rem;
}

.logo-black {
   height: 50px;
   width: auto;
   float: left;
   margin: 5px 0;
   display: none
}

.main-nav {
   float: right;
   list-style: none;
   margin-top: 55px;
   & li {
      display: inline-block;
      margin-left: 3rem;
      & a:link,
      & a:visited {
         color: @white;
         padding: 8px;
         text-decoration: none;
         font-size: 1.2rem;
         font-weight: 100;
         text-rendering: optimizeLegibility;
         border-bottom: 2px solid transparent;
         transition: border-bottom .35s;
      }
      & a:hover,
      & a:active {
         border-bottom: 2px solid @orange;
      }
   }
}

.sticky {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: rgba(255, 255, 255, .95);
   box-shadow: 0 4px 4px #d6d6d6;
   z-index: 999;
   .main-nav {
      margin-top: 16px;
      li a:link,
      li a:visited {
         padding: 8px 0 8px 0;
         color: @gray;
      }
   }
   .logo-black {
      display: block;
   }
   .logo {
      display: none;
   }
}
